body {
  font-family: Arial, sans-serif;
  justify-content: space-between;
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 50px;
  background-color: #ffd3a9;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 95vw;
  margin: auto;
  overflow: hidden;
}

/*Form CSS */
.form-container {
  background-color: rgb(255, 226, 182);
  padding: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.form-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-toggle button {
  width: 50%;
  padding: 10px;
  background-color: #f3f3f3;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px 10px 0 0;
}

.form-toggle .active {
  background-color: #522903;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.form h2 {
  margin-bottom: 20px;
}

.form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  font-size: 18px;
}

.form button {
  padding: 10px;
  background-color:#522903;
  color: white;
  border: none;
  font-size: large;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
}

.form a {
  color: #ff9900;
  text-decoration: none;
  margin-bottom: 10px;
  text-align: right;
}

.form p {
  text-align: center;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*Top navigation bar*/
.topnav {
  position:fixed;
  min-width: 100%;
  display: flex;
  background-color: #385511;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  left: 0;
  top: 0;
}

.topnav a {

  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav button {
  float: left;
  background-color: #385511;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #dfffc1;
  color: white;
}

.container img {
  width: 50%;
  object-fit: cover;
  object-position: center;
  height: 100%;
}

.wrap {
    height: 655px;
    overflow: hidden;
}

textarea {
  font-family: Arial, sans-serif;
}

.mainContent {
  flex-wrap: wrap;
  background-color: white;
}
/* Audio card */
.player-card {
  width: 20rem;
  background-color: #f1f4f9;
  padding: 1rem
}

input[type="range"] {
  width: 100%;
  height: 5px;
  accent-color: #79fd2c;
  outline: none;
}

.track-duration {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.track-duration > p {
  font-size: 10px;
  font-weight: 500;
  color: #18181f;
  margin: 0;
}

.player-card button {
  width: 3rem;
  height: 3rem;
  font-size: 34px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #79fd2c;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px auto 10px auto;
}
.player-card img {
  width: 315px;
  height: 315px;
  align-items: center;
  justify-content: center;
}